/* HTML, BODY & COMMONS
---------------------------------------------------------*/

/* Hannele, PLZ FIX!!!! */
@font-face {
    font-family: BebasNeue Regular;
    src: url("BebasNeue Regular.ttf");
}

html { 
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
} 

body {
  max-width: 100%;
  background-color: #33373c;
}

img {
  max-width: 100%;
}

a {
  color: #fff;
}

a:hover {
  text-decoration: none;
  color: #fff;
}

/* NAVIGATION
---------------------------------------------------------*/

nav {
  width: 100%;
  clear: both;
  background-color: #33373c;
  padding: 15px 0 10px 20px;
}

nav li {
  list-style: none;
  display: inline-block;
  font-family: "BebasNeue Regular", Helvetica, sans-serif; 
  margin-right: 15px;
  line-height: 30px;
  text-align: center;
}

nav a {
  text-decoration: none;
  font-size: 20px;
  font-family: "BebasNeue Regular", Helvetica, sans-serif;
}

nav a:hover {
  border-bottom: 1px solid #fff;
}

/* HEADER BANNER
---------------------------------------------------------*/

.banner {
    position: relative;
}

.banner .img{
    width: 100%;
    height: auto;
}

/* CONTENT
---------------------------------------------------------*/

.movies-box {
  width: 100%;
  padding: 40px 0 40px 0; 
  background-color: ##33373c;
  color: #fff;
  font-family: "BebasNeue Regular", Helvetica, sans-serif;
}

.moviemakers-box {
  width: 100%;
  padding: 40px 0 40px 0; 
  background-color: #47494e;
  color: #fff;
  font-family: "BebasNeue Regular", Helvetica, sans-serif;
}

.info-box {
  clear: both;
  width: 100%;
  padding: 40px 0 40px 0; 
  color: #fff;
  margin: 0 auto;
  text-align: center;
  font-family: "BebasNeue Regular", Helvetica, sans-serif;
}

.contact-box {
  clear: both;
  width: 100%;
  padding: 40px 0 40px 0; 
  background-color: #fff;
  text-align: center;
  font-family: "BebasNeue Regular", Helvetica, sans-serif;
  color: #000;
}

/* MOVIE WRAPPER?
---------------------------------------------------------*/

.wrap {
  width: 75%;
  margin: 40px auto 40px;
}

.wrap p {
  margin: 0 auto;
  font-family: "BebasNeue Regular", Helvetica, sans-serif;
  color: #fff;
  padding: 2px 0 8px 0;
  font-size: 16px
}

.wrap p:hover {
  opacity: 0.55;
}
