/* HTML, BODY & COMMONS
---------------------------------------------------------*/
html { 
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
} 

body {
  max-width: 100%;
  background-color: #000;
  font-family: 'Open Sans', sans-serif;
}

img {
  max-width: 100%;
}

a {
  color: #f1f1f1;
}

a:hover {
  text-decoration: none;
  color: #fff;
}

/* NAVIGATION
---------------------------------------------------------*/

nav {
  width: 100%;
  clear: both;
  background-color: #8b9c92;
  padding: 10px 0 10px 20px;
  position: fixed;
  z-index: 9999;
  box-shadow: 0px 2px 5px #4a524d;
  /*word-spacing: 40px;*/
  letter-spacing: 1px;
  /*padding-left: 40px;*/
  text-align: right;
  padding-right: 30px;
}
/* #e4eeea */
/* a8b0ab */
nav li {
  list-style: none;
  display: inline-block;
  font-family: 'Open Sans', sans-serif;
  margin-right: 15px;
  line-height: 30px;
  text-align: center;
  color: #000;
}

nav a {
  text-decoration: none;
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;
  color: #f1f1f1;
}

/* HEADER BANNER
---------------------------------------------------------*/

.banner {
    position: relative;
    margin-bottom: -2px;
}

.banner img{
    width: 100%;
    height: auto;
}

/* CONTENT
---------------------------------------------------------*/
.play-icon{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  height: 100px;
  width: 100px;
  z-index: 10000;
}
/*Thumbnail*/
.bxslider > .slide > .video-thumbnail{
  width:90%;
  height:400px;
  margin-left: 5%;  /*This margin makes the next/previus arrows on the slider more visible*/
  
}
.bxslider > .slide{
  background-color: black;
}

.column-wrapper {
  float: left;
  width: 100%;
}

.left-column {
  float: left;
  width: 50%;
  padding: 0 40px 0 0;
}

.right-column {
  float: left;
  width: 50%; 
  padding: 0 0 0 20px;
}

.movies-box {
  width: 100%;
  background-color: #101010;
  color: #fff;
}

.moviemakers-box {
  width: 100%;
  padding: 40px 0 40px 0; 
  background-color: #5c625f;
  color: #fff;
  margin-top: -60px;
  border: 1px solid red;
}

.info-box {
  clear: both;
  width: 100%;
  padding: 40px 0 40px 0; 
  color: #000;
  background-color: #bdcbc3;
  margin: 0 auto;
  text-align: center;
}

.contact-box {
  clear: both;
  width: 100%;
  padding: 40px 0 40px 0; 
  background-color: #d4e2da;
  text-align: center;
  color: #000;
}

/* MOVIE WRAPPER?
---------------------------------------------------------*/

.wrap {
  width: 100%;
  margin: 0px auto 0px;
}

.wrap p {
  margin: 0 auto;
  color: #fff;
  padding: 2px 0 8px 0;
  font-size: 16px
}

.wrap p:hover {
  opacity: 0.55;
}
