/* HTML, BODY & COMMONS
---------------------------------------------------------*/
html { 
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
} 

body {
  max-width: 100%;
  background-color: #000;
  font-family: 'Open Sans', sans-serif;
}

img {
  max-width: 100%;
}

a {
  color: #f1f1f1;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

a:hover {
  text-decoration: none;
  color: #fff;
}

p {
  font-weight: 300;
}

h3 {
  padding-bottom: 20px;
  font-family: inherit;
  font-weight: 300;
  font-size: 22px;
  letter-spacing: 0.08em;
  font-family: 'Oswald', sans-serif;
}

/* NAVIGATION
---------------------------------------------------------*/

nav {
  width: 100%;
  clear: both;
  background-color: #4c6066;
  position: fixed;
  z-index: 9999;
  box-shadow: 0px 2px 5px #4a524d;
  /*word-spacing: 40px;*/
  letter-spacing: 2px;
  /*padding-left: 40px;*/
  text-align: center;
  padding-top: 5px;
}
/* #e4eeea */
/* a8b0ab */
/* 8b9c92 */
/* #4c6066 */
nav li {
  list-style: none;
  display: inline-block;
  font-family: 'Oswald', sans-serif;
  /*margin-right: 15px;*/
  line-height: 30px;
  color: #000;
  padding: 10px;
}

nav a {
  text-decoration: none;
  font-size: 24px;
  font-family: 'Oswald', sans-serif;
  color: #f1f1f1;
  text-transform: uppercase;
}

/* HEADER BANNER
---------------------------------------------------------*/

.banner {
    position: relative;
    background-image: url(../img/imagetest.jpg);
    background-size: 100%;
    height: 100vh; 
    text-align: center;
}

.banner img {
  max-width: 100%;
  margin: 0 auto 60px auto;
  padding-top: 180px;
  padding-left: 10%;
  padding-right: 10%;
}

/* CONTENT
---------------------------------------------------------*/

.play-icon{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  height: 100px;
  width: 100px;
  z-index: 10000;
}

/*Thumbnail*/
.bxslider > .slide > .video-thumbnail {
  width:100%;
  margin: 0;
  padding: 0;
}

.bxslider > .slide{
  background-color: black;
}

.bx-wrapper .bx-viewport {
  left: 0;
}

.movies-box {
  width: 100%;
  background-color: #101010;
  color: #fff;
  text-align: center;
}

.moviemakers-box {
  width: 100%;
  padding: 60px; 
  background-color: #565f61;
  color: #fff;
  clear: both;
  margin: 0 auto;
  line-height: 1.5;
  padding-left: 10%;
  padding-right: 10%;
  font-size: 18px;
}

#bx-pager > a{
 
  display: inline-block;
  text-transform:capitalize;
}

#bx-pager > a:nth-child(even) {
  float: left;

  width: 50%;
}

#bx-pager > a:nth-child(odd){
  float: right;
  width: 50%;
}

.clear { 
  clear: both; 
}

.info-box {
  clear: both;
  width: 100%;
  padding: 60px; 
  color: #f1f1f1;
  background-color: #3d4146;
  margin: 0 auto;
  text-align: left;
  line-height: 1.5;
  padding-left: 10%;
  padding-right: 10%;
  font-size: 18px;
}
.contact-box {
  margin: 0 auto;
  clear: both;
  width: 100%;
  padding: 60px; 
  background-color: #2f3236;
  text-align: left;
  color: #f1f1f1;
  line-height: 1.5;
  padding-left: 10%;
  padding-right: 10%;
  font-size: 18px;
}

/* MOVIE WRAPPER
---------------------------------------------------------*/

/*.wrap {
  width: 100%;
  margin: 0px auto 0px;
}

.wrap p {
  margin: 0 auto;
  color: #fff;
  padding: 2px 0 8px 0;
  font-size: 16px
}

.wrap p:hover {
  opacity: 0.55;
}

*/
